
.canvasIcon {
  position: absolute;
  z-index: 4;
/*   top: 68px; */
/*   left: 80px; */
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
/*   stroke: #c4c4c4; */
/*   border: 1px red solid; */
  width: 16px;
  height: 16px;
}